body {
    background-image: url("../../assets/images/bg0.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
    background-color: #363535;
}

.jumbotron {
    background-color: #ffffff3a;
    padding: 1rem 4rem;
}

.nav-tabs .nav-link {
    border-left: solid 1px #ffffff;
}

.nav-tabs {
    border-bottom: solid 1px #ffffff;
}

.card-body {
    padding: 0;
}

.card {
    margin: .5rem;
    width: 200px;
}

.giphyImage {
    width: 100%;
}

.newtopic {
    margin: 7px 0px;
    padding: 3px;
    align-items: right;
    float: right;
}

.topic {
    width: 100px;
    margin: 7px;
    padding: 3px;
    background-color: rgb(253, 253, 148);
    color: gray;
    border-color: white;
    flex-wrap: wrap;
    white-space: normal;
}

.favorites,
.category {
    margin: 1px;
    border-color: #2e2c2c solid 3px;
    font-size: 1rem;
    color: gray;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    text-shadow: wheat;
}

.gifTitle {
    font-size: .9rem;
    font-weight: 600;
}

p {
    font-size: .75rem;
    font-style: italic;
}

.fa-star{
    color: rgb(235, 188, 1);
    display: inline;
} 

.makeFav{
    float:right;
    background-color: transparent;
    border: 1px solid transparent;
}

#addLabel {
    background-color: #ffffff91;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
}

#userAdd {
    margin: 7px;
}

@media screen and (max-width: 768px) {
    .topic {
        width: 75px;
        font-size: .75rem;
    }
}

@media screen and (max-width: 562px) {}